@import "tailwindcss";

@theme {
  /* Definimos los colores de tu marca aquí (Sintaxis v4) */
  --color-background: #09090b;
  --color-foreground: #f8fafc;
  
  --color-brand-primary: #38bdf8;
  --color-brand-secondary: #818cf8;
  --color-brand-accent: #10b981;
  
  --color-card-bg: #111113;
  --color-card-border: #27272a;
}

:root {
  --background: #09090b;
  --foreground: #f8fafc;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui;
}

@keyframes pulse-slow {
  0%, 100% { opacity: 0.3; }
  50% { opacity: 0.6; }
}

.animate-pulse-slow {
  animation: pulse-slow 8s infinite;
}

html {
  scroll-behavior: smooth;
}